{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block main %}

<div class="alert alert-success text-center h3" role="alert">
    My Products
</div>
<!-- Images for products -->
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-3 g-4">
    {% for product in products %}
    <div class="col">
      <div class="card h-100">
        <!-- Product image -->
        <img src="{{url_for('static', filename='photos/' + product[3])}}" class="card-img-top" alt="...">

        <div class="card-body">
          <!-- Product name -->
          <h5 class="card-title">{{ product[2] }}</h5>
          <!-- Product description -->
          <p class="card-text">{{ product[4] }}</p>
        </div>

        <div class="card-footer d-flex justify-content-between align-items-center">
          <!-- Edit button -->
          <form action="/modify/{{ product[0] }}" method="get">
            <button type="submit" class="btn btn-link"><span class="bi bi-pencil"></span></button>
          </form>
          <!-- Product price -->
          <small class="text-muted">${{ product[5] }}</small>
          <!-- Delete button -->
          <form action="/delete/{{ product[0] }}" method="get">
            <button type="submit" style="color: red;" class="btn"><span class="bi bi-trash"></span></button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}