{% extends "layout.html" %}

{% block title %}
    Edit Profile
{% endblock %}

{% block main %}
<form action="/edit" method="post" class="text-center">
    <div class="alert alert-primary text-center h3" role="alert">
        Profile
    </div>

    <div class="mb-3">
        <div class="form-group row justify-content-center">
            <label for="username" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-2">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" type="text" value="{{ user[1] }}">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-group row justify-content-center">
            <label for="email" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-2">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="email" name="email" type="email" value="{{ user[2] }}">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-group row justify-content-center">
            <label for="old_password" class="col-sm-2 col-form-label">Old Password:</label>
            <div class="col-sm-2">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="old_password" name="old_password" type="password" value="">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-group row justify-content-center">
            <label for="new_password" class="col-sm-2 col-form-label">New Password:</label>
            <div class="col-sm-2">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="new_password" name="new_password" type="password" value="">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-group row justify-content-center">
            <label for="confirmation" class="col-sm-2 col-form-label">Confirmation:</label>
            <div class="col-sm-2">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" type="password" value="">
            </div>
        </div>
    </div>

    <div id="contact" class="invisible">

        <div class="mb-3">
            <div class="form-group row justify-content-center">
                <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
                <div class="col-sm-2">
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="phone" name="phone" type="text" value=" {{ user[8] if user[8] is not none }}">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group row justify-content-center">
                <label for="district" class="col-sm-2 col-form-label">District:</label>
                <div class="col-sm-2">
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="district" name="district" type="text" value="{{ user[6] if user[6] is not none }}">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group row justify-content-center">
                <label for="city" class="col-sm-2 col-form-label">City:</label>
                <div class="col-sm-2">
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="city" name="city" type="text" value="{{ user[7] if user[7] is not none }}">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group row justify-content-center">
                <label for="about" class="col-sm-2 col-form-label">About:</label>
                <div class="col-sm-2">
                    <textarea class="form-control mx-auto w-auto" name="about" cols="30" rows="5" placeholder="{{ user[5] if user[5] is not none }}"></textarea>
                </div>
            </div>
        </div>
    </div>
    {% block javascript %}
        <script type="text/javascript">
            const seller_contact = document.querySelector("#contact");

            if ('{{ role }}' == "seller")
            {
                seller_contact.classList.remove("invisible");
                seller_contact.classList.add("visible");
            }
        </script>
    {% endblock %}
    <button class="btn btn-primary" type="submit">Save</button>
</form>

{% endblock %}