{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<!-- Starter section -->
<div class="alert alert-success text-center h3" role="alert">
    Starters
</div>
<!-- Images for Starter -->
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-3 g-4">
  {% if not starters %}
    <div class="col">
      <div class="card h-100">
        <img class="card-img-top" src="{{url_for('static', filename='photos/no_food.jpeg')}}" alt="No product">
        <div class="card-body">
          <p class="card-text">No starter.</p>
        </div>
      </div>
    </div>
  {% else %}
    {% for starter in starters[-6:] %}
      <div class="col">
        <div class="card h-100">
          <a href="/seller/{{ starter[7] }}">
            <img src="{{url_for('static', filename='photos/' + starter[3])}}" class="card-img-top" alt="{{ starter[2] }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ starter[2] }}</h5>
            <p class="card-text">{{ starter[4] }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">${{ starter[5] }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
<!-- See more button -->
{% if starters and starters|length > 6 %}
<a class="link-secondary button-see-more" href="/starters">See more <i class="bi bi-arrow-right"></i></a>
{% endif %}

<!-- Main dish section -->
<div class="alert alert-dark text-center h3 mt-5" role="alert">
    Main dishes
</div>
<!-- Images for Main dish -->
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-3 g-4">
  {% if not main_dishes %}
    <div class="col">
      <div class="card h-100">
        <img class="card-img-top" src="{{url_for('static', filename='photos/no_food.jpeg')}}" alt="No product">
        <div class="card-body">
          <p class="card-text">No main dish.</p>
        </div>
      </div>
    </div>
  {% else %}
    {% for main_dish in main_dishes[-6:] %}
      <div class="col">
        <div class="card h-100">
          <a href="/seller/{{ main_dish[7] }}">
            <img src="{{url_for('static', filename='photos/' + main_dish[3])}}" class="card-img-top" alt="{{ main_dish[2] }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ main_dish[2] }}</h5>
            <p class="card-text">{{ main_dish[4] }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">${{ main_dish[5] }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
<!-- See more button -->
{% if main_dishes and main_dishes|length > 6 %}
<a class="link-secondary button-see-more" href="/main_dishes">See more <i class="bi bi-arrow-right"></i></a>
{% endif %}

<!-- Dessert section -->
<div class="alert alert-primary text-center h3 mt-5" role="alert">
    Desserts
</div>
<!-- Images for Dessert -->
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-3 g-4">
  {% if not desserts %}
    <div class="col">
      <div class="card h-100">
        <img class="card-img-top" src="{{url_for('static', filename='photos/no_food.jpeg')}}" alt="No product">
        <div class="card-body">
          <p class="card-text">No dessert.</p>
        </div>
      </div>
    </div>
  {% else %}
    {% for dessert in desserts[-6:] %}
      <div class="col">
        <div class="card h-100">
          <a href="/seller/{{ dessert[7] }}">
            <img src="{{url_for('static', filename='photos/' + dessert[3])}}" class="card-img-top" alt="{{ dessert[2] }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ dessert[2] }}</h5>
            <p class="card-text">{{ dessert[4] }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">${{ dessert[5] }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
<!-- See more button -->
{% if desserts and desserts|length > 6 %}
<a class="link-secondary button-see-more" href="/desserts">See more <i class="bi bi-arrow-right"></i></a>
{% endif %}
{% endblock %}