<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

        <!-- https://favicon.io/emoji-favicons/olive -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Food Market: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="green">Food</span><i class="bi bi-shop"></i><span class="blue">Market</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/starters">Starter</a></li>
                            <li class="nav-item"><a class="nav-link" href="/main_dishes">Main dish</a></li>
                            <li class="nav-item"><a class="nav-link" href="/desserts">Dessert</a></li>
                            {% if session["user_role"] == "seller" %}
                            <li class="nav-item"><a class="btn btn-primary" role="button" href="/add">Add food</a></li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">
                                    Hi,{{ session["user_name"].capitalize() }}
                                    <i class="bi bi-person-fill"></i>
                                </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="container-fluid py-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
            CS50 Final Project of <a href="https://github.com/ZitaNguyen">Zita Nguyen</a>
        </footer>

         <!-- JavaScript Bundle with Popper -->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>

</html>
