{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="alert alert-primary text-center h3" role="alert">
    Contact
</div>
<div class="row row-cols-1 row-cols-lg-3">
    <div class="col"></div>
    <div class="col mx-5">
        <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>{{ user[1].capitalize() }}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{ user[2] }}</td>
              </tr>
            </tbody>
        </table>
        <div class="d-flex flex-wrap justify-content-around">
            <a class="btn btn-info" href="/edit/{{ user[0] }}" role="button">Edit profile</a>
            <a class="btn btn-danger" href="#" role="button">Delete profile</a>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}