{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="text-center">
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="buyer" value="buyer" checked>
                <label class="form-check-label" for="buyer">buyer</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="seller" value="seller">
                <label class="form-check-label" for="seller">seller</label>
            </div>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <div class="mb-3">
            <textarea class="form-control mx-auto w-auto invisible" name="about" cols="30" rows="5" placeholder="If you are a seller, tell us more about yourself"></textarea>
        </div>
        {% block javascript %}
            <script>
                const about = document.querySelector("textarea");

                document.querySelector('#seller').addEventListener('change', (event)=>
                {
                    if (event.target.checked)
                    {
                        about.classList.remove("invisible");
                        about.classList.add("visible");
                    }
                    else
                    {
                        about.classList.remove("visible");
                        about.classList.add("invisible");
                    }
                });

                document.querySelector('#buyer').addEventListener('change', (event)=>
                {
                    if (event.target.checked)
                    {
                        about.classList.add("invisible");
                        about.classList.remove("visible");
                    }
                    else
                    {
                        about.classList.remove("invisible");
                        about.classList.add("visible");
                    }
                });
            </script>
        {% endblock %}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}