{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="text-center">
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="buyer" value="buyer" checked>
                <label class="form-check-label" for="buyer">buyer</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="seller" value="seller">
                <label class="form-check-label" for="seller">seller</label>
            </div>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <div id="contact" class="invisible">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="phone" name="phone" placeholder="Phone" type="text">
            </div>
            <div class="mb-3">
                <p>Where can buyers find you?</p>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="district" name="district" placeholder="District" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="city" name="city" placeholder="City" type="text">
            </div>
            <div class="mb-3">
                <textarea class="form-control mx-auto w-auto" name="about" cols="30" rows="5" placeholder="Tell buyers more about yourself"></textarea>
            </div>
        </div>

        {% block javascript %}
            <script>
                const seller_contact = document.querySelector("#contact");

                document.querySelector('#seller').addEventListener('change', (event)=>
                {
                    if (event.target.checked)
                    {
                        seller_contact.classList.remove("invisible");
                        seller_contact.classList.add("visible");
                    }
                    else
                    {
                        seller_contact.classList.remove("visible");
                        seller_contact.classList.add("invisible");
                    }
                });

                document.querySelector('#buyer').addEventListener('change', (event)=>
                {
                    if (event.target.checked)
                    {
                        seller_contact.classList.add("invisible");
                        seller_contact.classList.remove("visible");
                    }
                    else
                    {
                        seller_contact.classList.remove("invisible");
                        seller_contact.classList.add("visible");
                    }
                });
            </script>
        {% endblock %}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}