{% extends "layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block main %}
    <div class="alert alert-success text-center h3" role="alert">
        Search Results
    </div>
    <!-- Images -->
    {% if not results %}
        <p class="text-center">No result.</p>
    {% else %}
        <div class="row row-cols-1 row-cols-lg-6 row-cols-md-3 g-4 text-center">
            {% for result in results %}
                <div class="col">
                    <a href="/product/{{ result[0] }}">
                        <div class="card h-100">
                            <!-- Product image -->
                            <img src="{{url_for('static', filename='photos/' + result[3])}}" class="card-img-top" alt="{{ result[2] }}">

                            <div class="card-body">
                            <!-- Product name -->
                            <h5 class="card-title">{{ result[2] }}</h5>
                            <!-- Product description -->
                            <p class="card-text">{{ result[4] }}</p>
                            </div>

                            <div class="card-footer">
                            <!-- Product price -->
                            <small class="text-muted">${{ result[5] }}</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}