{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="row mx-5">
    <!-- Contact -->
    <div class="col-xs-1 col-lg-3">
        <h3 class="py-3">Contact</h3>
        <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>{{ seller[0].capitalize() }}</td>
              </tr>
              <tr>
                <th scope="row">About</th>
                <td>{{ seller[2] }}</td>
              </tr>
              <tr>
                <th scope="row">Phone</th>
                <td>{{ seller[5] }}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{ seller[1] }}</td>
              </tr>
              <tr>
                <th scope="row">District</th>
                <td>{{ seller[3] }}</td>
              </tr>
              <tr>
                <th scope="row">City</th>
                <td>{{ seller[4] }}</td>
              </tr>
            </tbody>
        </table>
        <div class="d-flex flex-wrap justify-content-start">
            <a class="btn btn-info my-3" href="/edit_seller/{{ seller[6] }}" role="button">Edit profile</a>
            <a class="btn btn-danger my-3" href="#" role="button">Delete profile</a>
        </div>
    </div>

    <!-- Menu -->
    <div class="col-xs-1 col-lg-9">
        <div class="alert alert-primary text-center h3" role="alert">
            Menu
        </div>
        <div>
            <!-- Starters -->
            <div class="py-3">
                <h5>Starters</h5>
                <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
                    {% if not starters %}
                        <div class="col">
                            <div class="card h-100">
                            <img class="card-img-top" src="{{url_for('static', filename='photos/no_food.jpeg')}}" alt="No product">
                            <div class="card-body">
                                <p class="card-text">No main dish.</p>
                            </div>
                            </div>
                        </div>
                    {% else %}
                        {% for starter in starters %}
                            <div class="col">
                                <div class="card h-100">
                                    <!-- Product image -->
                                    <img src="{{url_for('static', filename='photos/' + starter[3])}}" class="card-img-top" alt="{{ starter[2] }}">

                                    <div class="card-body">
                                        <!-- Product name -->
                                        <h5 class="card-title">{{ starter[2] }}</h5>
                                        <!-- Product description -->
                                        <p class="card-text">{{ starter[4] }}</p>
                                    </div>

                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <!-- Edit button -->
                                        <form action="/modify/{{ starter[0] }}" method="get">
                                        <button type="submit" class="btn btn-link"><span class="bi bi-pencil"></span></button>
                                        </form>
                                        <!-- Product price -->
                                        <small class="text-muted">${{ starter[5] }}</small>
                                        <!-- Delete button -->
                                        <form action="/delete/{{ starter[0] }}" method="post">
                                        <button type="submit" style="color: red; border: none;" class="btn"><span class="bi bi-trash"></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!-- Main dishes -->
            <div class="py-3">
                <h5>Main dishes</h5>
                <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
                    {% if not main_dishes %}
                        <div class="col">
                            <div class="card h-100">
                            <img class="card-img-top" src="{{url_for('static', filename='photos/no_food.jpeg')}}" alt="No product">
                            <div class="card-body">
                                <p class="card-text">No main dish.</p>
                            </div>
                            </div>
                        </div>
                    {% else %}
                        {% for main_dish in main_dishes %}
                            <div class="col">
                                <div class="card h-100">
                                    <!-- Product image -->
                                    <img src="{{url_for('static', filename='photos/' + main_dish[3])}}" class="card-img-top" alt="{{ main_dish[2] }}">

                                    <div class="card-body">
                                        <!-- Product name -->
                                        <h5 class="card-title">{{ main_dish[2] }}</h5>
                                        <!-- Product description -->
                                        <p class="card-text">{{ main_dish[4] }}</p>
                                    </div>

                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <!-- Edit button -->
                                        <form action="/modify/{{ main_dish[0] }}" method="get">
                                        <button type="submit" class="btn btn-link"><span class="bi bi-pencil"></span></button>
                                        </form>
                                        <!-- Product price -->
                                        <small class="text-muted">${{ main_dish[5] }}</small>
                                        <!-- Delete button -->
                                        <form action="/delete/{{ main_dish[0] }}" method="post">
                                        <button type="submit" style="color: red; border: none;" class="btn"><span class="bi bi-trash"></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!-- Desserts -->
            <div class="py-3">
                <h5>Desserts</h5>
                <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
                    {% if not desserts %}
                        <div class="col">
                            <div class="card h-100">
                            <img class="card-img-top" src="{{url_for('static', filename='photos/no_food.jpeg')}}" alt="No product">
                            <div class="card-body">
                                <p class="card-text">No main dish.</p>
                            </div>
                            </div>
                        </div>
                    {% else %}
                        {% for dessert in desserts %}
                            <div class="col">
                                <div class="card h-100">
                                    <!-- Product image -->
                                    <img src="{{url_for('static', filename='photos/' + dessert[3])}}" class="card-img-top" alt="{{ dessert[2] }}">

                                    <div class="card-body">
                                        <!-- Product name -->
                                        <h5 class="card-title">{{ dessert[2] }}</h5>
                                        <!-- Product description -->
                                        <p class="card-text">{{ dessert[4] }}</p>
                                    </div>

                                    <div class="card-footer d-flex justify-content-between align-items-center">
                                        <!-- Edit button -->
                                        <form action="/modify/{{ dessert[0] }}" method="get">
                                        <button type="submit" class="btn btn-link"><span class="bi bi-pencil"></span></button>
                                        </form>
                                        <!-- Product price -->
                                        <small class="text-muted">${{ dessert[5] }}</small>
                                        <!-- Delete button -->
                                        <form action="/delete/{{ dessert[0] }}" method="post">
                                        <button type="submit" style="color: red; border: none;" class="btn"><span class="bi bi-trash"></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}